.popup-wrapper{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

.popup-wrapper.hidden{
    display: none;
}

.popup{
    width: 400px;
    height: 200px;
    background-color: rgba(0, 77, 153, 0.9);;
    border-radius: 5px;
    position: fixed;
    top: calc(50% - 150px);
    left: calc(50% - 300px);
    padding: 30px;
    z-index: 2;
}

.popup > div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.popup input{
    margin-left: 30px;
    width: 200px;
}

.popup-close {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    color: white;
    cursor: pointer;
}